/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1{
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 10px;
 }

 h2{
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: bold;
}

 body {
  background-image: linear-gradient(to bottom right, rgb(140, 216, 171), rgb(120, 132, 255));
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  width: 100vw; 
  height: 100vh;
  margin: 0;
}

.container{
  padding-left: 10px;
}


.lesson {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form {
  margin-bottom: 20px;
}

select, input[type="submit"] {
  margin-right: 10px;
}

.field {
  margin-bottom: 15px;
}

.actions {
  margin-top: 20px;
}

.btn {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
  transition: background-color 0.3s;
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer */
}

.btn-primary {
  background-color: #4c51bf; /* Tailwind's indigo-600 */
}

.btn-primary:hover {
  background-color: #2c5282; /* Tailwind's indigo-900 */
}

.btn-secondary {
  background-color: #6c757d; /* Bootstrap's secondary color */
}

.btn-secondary:hover {
  background-color: #5a6268; /* Darker shade for hover */
}

.btn-danger {
  background-color: #e3342f; /* Tailwind's red-600 */
}

.btn-danger:hover {
  background-color: #cc1f1a; /* Tailwind's red-700 */
}

.flex {
  display: flex;
}

.mb-4 {
  margin-bottom: 1rem; /* Existing margin-bottom */
  font-size: 1.125rem; /* Increase font size to 18px (1.125rem) */
  line-height: 2rem; /* Add space between sentences */
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

#error_explanation {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}