<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Activity Feed</h1>

  <% if @activities.empty? %>
    <p>No activities found.</p>
  <% else %>
    <div class="space-y-4">
      <% @activities.each do |activity| %>
        <div class="bg-white shadow rounded-lg p-6 border border-gray-200 mt-4 w-1/2 mx-auto">
          <div class="flex items-center">
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-900">
                <%= activity.description %>
              </p>
              <p class="text-sm text-gray-500">
                <%= time_ago_in_words(activity.created_at) %> ago
              </p>
            </div>
          </div>
          <% if activity.trackable %>
            <div class="mt-2 text-sm text-gray-700">
              <% case activity.trackable_type %>
              <% when 'Lesson' %>
                <%= link_to "View lesson", lesson_path(activity.trackable), class: "text-indigo-600 hover:text-indigo-900" %>
              <% when 'User' %>
                <%= link_to "View user", user_path(activity.trackable), class: "text-indigo-600 hover:text-indigo-900" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>