<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>Lanex</title>
</head>
<body>
  <div class="header">
    <h1 style="font-size:100px; color:#000000; text-align:center; margin-bottom:15px; margin-top:15px; font-family: 'Pacifico', cursive; font-weight: bold;">Lanex</h1>
  </div>
</body>
</html>